<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hackathon Judging</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Hackathon Judging Tool</h1>
    <form method="POST">
      {% for project in projects %}
      <div>
        <h3>{{ project.name }}</h3>
        <label for="score_{{ project.name }}">Score:</label>
        <input
          type="text"
          name="score_{{ project.name }}"
          id="score_{{ project.name }}"
        />
      </div>
      <hr />
      {% endfor %}
      <button type="submit">Submit Scores</button>
    </form>
  </body>
</html>
